*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main{
  margin: auto;
  width: 400px;
  height: 200px;
  margin-top: 100px;
  
  border :2px solid grey;
  padding: 30px;
  align-items: center; 
}
.number{
 width: 300px;
 text-align: center;
 background-color: black;
 color: wheat;
}
.inputs1{
  width: 300px;
  text-align: center;
}
.inputs2{
  width: 300px;
  text-align: center;
}
.buttons{
  width: 300px;
  text-align: center;
 
}
button{
  width: 30px;
  margin-top: 30px;
 margin-bottom: 30px;
 text-align: center;
}
body{
  height: 100vh;
background-color: #e5e5f7;
background-color: #e5e5f7;
opacity: 0.8;
background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
background-size: 10px 10px;
}